@import "../../node_modules/normalize.css/normalize";
@import "~bootstrap/scss/bootstrap"; 



@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/font';
@import 'base/base';
@import 'base/typography';


.hidden-from-tab-land {
	@include respond(tab-land) {
		display: none!important;
	}
}


.intro {
	height: 90vh;
	position: relative;
		
	@include respond(tab-port) {
		display: flex;
		flex-direction: column-reverse;
		height: auto;
	}

	.header {
		display: flex;
    	justify-content: space-between;
		z-index: 7;
    	.btn {
    		height: 3.8rem;
    		width: auto!important;
    	}
	}

	&__wrap {
		@include respond(tab-port) {
			width: 100%!important;
			background: #10116E;
		}

		@include respond(tab-land) {
			width: 80%;
			display: block;
		}
		.logo{
			width: 10.4rem;
		}
		position: relative;
		padding: 4rem 0;
		&__heading {
			width: 45%;

			@include respond(tab-port) {
				width: 100%!important;
			}

			@include respond(tab-land) {
				width: 80%!important;
			}

			.heading-title{
				padding: 12rem 0 3rem 0;
			}
		}
		

		.carousel-indicators-1 {
			top: 30px;
		    margin-bottom: 50px;
		    position: relative;
			.carousel-indicators{
				justify-content: left;
				margin:0;
				li {
					margin-left:0;
				}

			}
		}
		.countdown {
		  font-family: 'Roboto', sans-serif;
		}

		.countdown > div { display: inline-block; }

		.countdown > div > span {
		  display: block;
		  text-align: center;
		}

		.countdown-container {  margin-left: -3rem; }

		.countdown-container .countdown-heading {
		  font-size: 1.2rem;
		  color: #fff
		}

		.countdown-container .countdown-value {
		  font-size: 3.4rem;
		  width: 100px;
		  color: #fff;
		  font-weight: bold;
		}
	}
}

.subscribe{
			padding:1rem 0 5rem 0;
			.form-control{
				@include respond(tab-port) {
					width: 100%;
					display: block;
				}



				height: 5rem;
				width: auto;
				background: transparent;
				display: inline;
				padding:0;
				border: 1px solid #fff;
				color: #ffffff!important;
				font-size: 1.4rem;
				padding-left: 2rem;

			}

			::placeholder { 
			  color: $white;
			  opacity: 1;
			}

		}

.what-we-offer{
	&__grid {


		.offer {	
			margin-left:30px;

			@include respond(tab-port) {
				margin-top: 10px;
			}

			&:before{
				content: "";
				width: 30px;
				height: 30px; 
				background-size: 30px;
				position: absolute;
				top: -5px;
				left:10px; 
				background-repeat: no-repeat;
				@include respond(tab-port) {
					top:2px;
				}
			}
		}

		.offer-1 {
			&:before{
				background-image: url("../images/i1.png"); 

			}
		}
		.offer-2 {
			@include respond(tab-port) {
				text-align: right;
				margin-right: 30px;
			}
			
			&:after{
				background-image: url("../images/i2.png"); 

				@include respond(tab-port) {
				content: "";
				width: 30px;
				height: 30px; 
				background-size: 30px;
				position: absolute;
				top: 2px;
				right:10px; 
				background-repeat: no-repeat;
				}
			}


			&:before {				
					@include respond(from768){
					background-image: url("../images/i2.png"); 	
					}	
			}
		}
		.offer-3 {
			&:before{
				background-image: url("../images/i3.png"); 
			}
		}
		
	}
}


.app-presentation {
	&__grid {
		&--app {
			object-fit:contain;
			width: 100%;
			height: 100%;

		


			
		}
	}
	.col-md-6 {
		background: #6E76F2;
		padding: 0 19.2rem;
		height: 550px;

	
		@include respond(tab-land) {
			height: auto;
			padding:2rem 5rem;
		}

	}

	.image {
		background: #cecece;
		padding:0;
	}

	.image-1 {
		background: rgba(110, 118, 242, 0.3);
	}

	.image-2 {
		background: rgba(241, 67, 77, 0.4);
	}


	@include respond(tab-port) {
		.col-md-6:nth-child(1) {
			order: 2;
		}

		.col-md-6:nth-child(2) {
			order: 1;
		}
	}
	

}

.features {
	&__heading--title {
		color: #10116E!important;
		font-size: 3.2rem;
		

		@include respond(tab-port) {
			

		}


	}
	.col-md-12 {
		margin-top: 4rem;
	}
	.col-md-4 {
		@include respond(tab-port) {
			text-align: center!important;
		}
	}
	.container-features {
		max-width: 996px;
		@include respond(tab-port) {
			max-width: 400px;
		}
	}
	.img-fluid {
		max-width: 70%!important;
		box-shadow: 0px 7px 32px 5px rgba(0,0,0,0.18);
		border-radius: 2.2rem;
	}

}
.padding-zero{
	padding:0;
}
.features-margin{
	margin-top: 50px;
}

.footer {
	background: #10116E;

	&__wrap {
		text-align: center;

		.subscribe .form-control {
			width: 30rem;
			max-width: 30rem;

			@include respond(tab-port) {
				width: 100%;
				max-width: 100%;
			}
		}

		&__bottom {
			border-top: 1px solid #fff;
			padding-top: 4rem;
			color: #fff;
			display: flex;
			align-items: top;
			justify-content: space-between;
			font-family: 'Roboto', sans-serif;
			font-size: 1.4rem;
			text-align: left;
			flex-wrap: wrap;
			width: 100%;
			.menu {
				 	li {
						display: list-item;
						list-style: none;
						margin-left: 0.5rem;
						line-height: 2.5rem;

					}

					
				}

			.logo {
					width: 72px;
			}

		}
	}
}

a {
	color: #ffffff;
	text-decoration: none;

	&:hover {
		color: #F1434D;
	}
}



@import 'components/btn'; 

.about {
	.intro {	
		background: #10116E;
	}
	.full-width-height-img {
		@include respond(tab-port) {
			height: 400px;
		}

	}

	.what-we-offer {
		.quote {
			margin-top: -50px;
			z-index:5;
			background: #FCD7D9; position: absolute; width: 100%; 
			height:5rem;
			align-items: center;
			display: flex;
			p {
				margin:0;
			}
		}

		&__content {
			margin-top: 50px;

			.heading {
				h2 {
					font-family: 'Roboto', sans-serif;
					font-weight: bold;
					font-size: 3.2rem;
					color: #10116E;
				}

				p {
					font-family: 'Roboto', sans-serif;
					font-size: 1.4rem;
					color: #000000;
					line-height: 2.7rem;
				}
				margin-bottom: 5rem;
			}
		}

		.offer {	
			margin-left:100px;
			margin-top: 15px;

			@include respond(tab-port) {
				margin-top: 4px;
				margin-left: 55px;
			}

			&:before{
				content: "";
				width: 90px;
				height: 90px; 
				background-size: 90px;
				position: absolute;
				top: -5px;
				left:10px; 
				background-repeat: no-repeat;
				@include respond(tab-port) {
					top:0px;
					width: 50px;
				height: 50px;background-size: 50px;
				}
			}
		}

		.offer-1 {
			&:before{
				background-image: url("../images/11.png"); 

			}
		}
		.offer-2 {
			@include respond(tab-port) {
				text-align: right;
				margin-right: 55px;
				margin-top: 0px;
			}
			
			&:after{
				background-image: url("../images/22.png"); 

				@include respond(tab-port) {
				content: "";
				width: 50px;
				height: 50px; 
				position: absolute;
				top: 0px; 
				background-repeat: no-repeat;
				background-size: 50px;
				}
			} 


			&:before {				
					@include respond(from768){
					background-image: url("../images/33.png"); 	
					}	
			}
		}
		.offer-3 {
			&:before{
				background-image: url("../images/33.png"); 
			}
		}
	}
	.stuffs-on-right {
		
		img {
			z-index:6;
			position: absolute; right: 7rem; bottom: -5rem;
			@include respond(from-image){
				display: none;
			}
			@include respond(tab-land) {
				height: 400px;
				right:0;
			}
			@include respond(tab-port) {
				height: 500px;
				right: 7rem;
				bottom:-3rem;
			}

			@include respond(phone) {
				height: auto;
			}
		}
		.box-under-image{
			background: #F1434D;
			height: 40.7rem;
			width: 200px;
			right: 0;
			bottom: 0;
			position: absolute;
			z-index:1;
		}
	}



	.what-we-do {
		width: 100%; 
		padding: 15rem 0;
		background-size:cover!important; 
		.intro__wrap__heading .heading-title {
			padding:0;
		}
		.btn {
			height: auto;
			margin:0;
		}
	}	

	.tabify-shippers {
		.nav {
			margin-top: 4rem;
			justify-content: center;
			border:0;
		}
		.tabify-text-header {
			padding: 3rem;
		}
		.nav-item {
			.nav-link {
				font-family: 'Roboto', sans-serif;
				font-size: 16px;
				color: #10116E;
				border:0;
				border-bottom: 3px solid #E2E3FD;
				font-weight: bold;
				padding: 0 5rem;

				@include respond(phone) {
					padding: 0 3rem;
				}
			}
			.active {				
				border-bottom: 3px solid #6E76F2;
				color: #6E76F2;
			}
		}

		.tab-content {
			.box {
				display:flex;
				border:1px solid #E2E3FD;
				margin-top: 20px;
				
				counter-increment: section;
				

				@include respond(from768) {
						
					
					.box-content-2 div:nth-child(1) {
						order: 1;
					}
					.box-content-4 div:nth-child(1) {
						order: 1;
					
					}

				}
				
				.box-content {
					position: relative;
					
					display: flex;
					justify-content: space-between;
					flex-direction: row;
					@include respond(tab-port) {
						flex-direction: column;
					}
					.text {
						padding: 50px;
					}
					.title {
						
						font-size: 22px;
						font-family: 'Roboto', sans-serif;
						font-weight: bold;
						color: #10116E;
						
						&::before {
							position: relative;
							margin-left: -23px;
							margin-top: -5px;
							font-size: 27px;
							content:  counter(section) " ";
						}
					}

					.description {

						color: #10116E;
						font-size: 14px;
						font-family: 'Roboto', sans-serif;
						line-height: 2.7rem;
					}
				}
				.box-image {
					width: 100%;
					height: auto;
					background-size: cover!important;
					position: relative;
					background-repeat: no-repeat!important;
					background-position: center!important;
					display: flex;
					@include respond(tab-port) {
						height:200px;
					}

					
				}

				
			}

		}
	}

	footer {
		margin-bottom: -15px;
	}
	
}














